/*--v-david 1395-07-23*/
.daak-menu ul, .daak-menu li{
	list-style-type: none;
	cursor: pointer;
}
.daak-menu a{
	font-family: IRANSans;
	font-size: 16px;

	text-decoration: none;
	color: #c6c6c6;
}


.daak-vertical-menu-container{
	position: absolute;
	width: 250px;

	height: -webkit-calc(100% -  67px);
	height: -moz-calc(100% -  67px);
	height: -khtml-calc(100% -  67px);
	height: -ms-calc(100% -  67px);
	height: -o-calc(100% -  67px);
	height: calc(100% -  67px);

	/*! background: rgba(0, 0, 0, 0.98); */
	/*! border: 1px solid rgb(0, 0, 0); */
	top: 67px;
	z-index: 5;
	display: none;

	overflow: hidden;
	/*margin-top: 67px;*/
	padding: 5px 5px 5px 10px;
	/*! background-color: rgba(68, 68, 68, 0.75); */
	border-top: 1px solid #222;
	background-image: url("../images/menu-bg.png");
	background-repeat: repeat-y;

	right: 0px;
}
.daak-vertical-menu ul{
	list-style-type: none;
	margin: 0;
}

.daak-vertical-menu {
	background-image: url("../images/linen.png");
}

.daak-vertical-menu li{
	list-style-type: none;
	padding: 12px 0px 12px;
	border-bottom: 1px solid rgb(56, 57, 57);
	border-top: 1px solid #4f4f4f;
	border-bottom: 1px solid #222;
	border-left: 1px solid #222;
	border-right: 1px solid #222;
}

.daak-vertical-sub-menu > ul > .daak-vertical-sub-menu {
	background-image: url("../images/linen.png");
	padding: 12px 0px 12px;
	border-bottom: 1px solid rgb(56, 57, 57);
	border-top: 1px solid #4f4f4f;
	border-bottom: 1px solid #222;
	border-left: 1px solid #222;
	/*border-right: 1px solid #222;*/
	border-right: 1px solid #7D5D10;
	margin: 4px 4px 4px 4px;
}

.daak-vertical-menu ul > li:hover{
	text-decoration: none;

	transition-duration: 0.5s;
	/*! color: rgb(14, 13, 13); */
	background-color: rgba(148, 219, 255, 0.2);
}

.daak-vertical-menu a, .daak-vertical-menu a:hover, .daak-vertical-menu a:active, daak-vertical-menu a:focus{
	text-decoration: none !important;
}

.daak-vertical-menu .active {
	background-color: rgb(255, 255, 255) !important;
}

.daak-vertical-menu a{
	font-family: IRANSans;
	font-size: 14px;
	color: rgb(176, 176, 176);
	padding-right: 8px;
}

.daak-vertical-menu a span{
	font-size: 16px;
	padding-left: 8px;
}

.daak-vertical-sub-menu > ul > li:hover{
	text-decoration: none;
	color: rgb(50,50,50);
	transition-duration: 0.99s;
	/* 	background-color: rgba(148, 219, 255, 0.2); */
}

.daak-vertical-sub-menu ul > li > a{
	color: #a0a2a4;
	/*! text-shadow: 1px 1px 10px #FFF; */
	font-size: 14px;
}
.daak-vertical-sub-menu > ul{
	display: none;
	margin-top: 10px;
}

.daak-vertical-sub-menu > ul > li{
	background: transparent;
	border: none;
	padding: 10px;
}

.daak-vertical-menu .open > ul{
	display: block;
	background-color: rgba(68, 68, 68, 0.75);
	border-top: 1px solid #222;
}
.daak-vertical-menu .open{
	padding: 12px 0px 0px !important;
	/*! border-left: 1px solid black; */
	border-left: 1px solid #222;
}

.daak-horizontal-menu{
	background-color: transparent;
}
.daak-horizontal-menu li{
	display: inline-block;
}
.daak-horizontal-menu li a{
	display: inline-block;
	padding: 10px;
}

.daak-title{

}
.daak-delete{

}
.daak-view{

}

.daak-edit-max-height{
	overflow-y: auto;
	max-height: 450px
}

.daak-edit-extra-style{
	color: #337ab7;
	cursor: pointer;
}

.daak-search, .add .da-edit{
	opacity: 1 !important;
	position: relative;
}
.daak-search:hover{
	opacity: 1 !important;
}
.daak-add-menu{
	width: 100%;
}
.daak-search-menu, .daak-add-menu{
	z-index: 999999999999999999;
}
.daak-search-menu, .daak-edit-menu, .daak-add-menu{
	display: none;
	position: absolute;
	border: 1px solid rgba(0,0,0,.2);
	width: auto;
	left: 5px;
	cursor: auto;
}
.daak-search-menu .form-group{
	margin: 0px 5px 5px 5px;
	font-weight: 500;
}
.daak-search-menu .form-inline{
	text-align: right;
}
.daak-search-menu .form-control{
	min-width: 190px;
}

.daak-edit-menu{
	top: -5px;
	position: relative;
	padding: 10px;
	text-align: justify;
}


.daak-extea-menu {

	margin-bottom: 10px;
	text-align: center;
}

@media (max-width: 505px){
	.daak-search-menu{
		min-width: 100% !important;
		position: relative;
	}
}
