/* 
    Document   : DAdatatble
    Created on : Nov 11, 2015, 2:32:27 PM
    Author     : david
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


.DAhandPointer a{
     cursor: pointer;
     
}
tr{
    border-bottom-color: #E26261;
    border-bottom-width: 1px;
}

