/*--v-david 1395-07-23*/

#body {
	background:  rgb(228, 233, 240);

	background-image: url("../images/back_image.png");
	background-size: 100px;
	background-attachment: fixed;
	overflow: hidden;
}


#regbar {
	height: 100px;

	border-bottom-width: 1px;
	border-bottom-color: silver;
	background: rgba(246, 202, 125, 0.7);
	padding-top: 20px;

	width: 100%;

}

.agahi-img-container {
	float: left;
	margin-left: 50px;
	margin-top: -20px;
	padding: 10px;
}
.agahi-img-container li{
	text-decoration: none;
	position: relative;

	z-index: 1;

	border-radius : 100%;
	width: 50px;
	height: 50px;
	list-style: none;
	text-align: center;
	padding-top: 8px;

	display: none;
	padding-top: 15px;
	padding-left: 1px;
}
.agahi-img-container li:hover{
	background-color: transparent;
	box-shadow: 0 0px 12px rgba(0,0,0,.175);
}
.agahi-img-container li img{
	margin-top: -5px;
}
.agahi-img-container ul{
	position: absolute;

	margin-top: 5px;
	margin-right: 35px;
}

.agahi-img{
	height: 110px;
	width: 120px;
	z-index: 0;
}

/*#logout{
	position: absolute;
}*/

#logo-img{
	height: 117px;
	width: 292.5px;
}

#logo{
	height: 117px;
	width: 292.5px;
	float: left;

	margin-top: -6px;
	margin-left: -16px;
}

#horizontal-menu-container{
	float: right;
	text-align: center;
	padding-right: 35px;
}

#container{
	width: 100%;
	background-color: transparent;//rgba(255, 255, 255, 0.3);
	display:block;
	padding-top: 125px;
	margin-top: -100px;
	text-align: center;
	height: 100%;
	height: -webkit-calc(100% - 50px);
	height: -moz-calc(100% - 50px);
	height: -khtml-calc(100% - 50px);
	height: -ms-calc(100% - 50px);
	height: -o-calc(100% - 50px);
	height: calc(100% - 50px);

}

h2 {
	padding: 20px;
	color: #ecf0f1;
}


/*label, a{
	font-family: IRANSans;
	font-size: 23px;
	font-weight: 5px;
}

a {
  color: #ecf0f1;
  text-decoration: none;
}
a:hover, a:FOCUS, a:VISITED{
  color: #1abc9c;
  text-decoration: none;
}*/

/*--bilbord-----------------------------------*/
#title {
	font-family: IRANSans;
	font-size: 50px;
	width: 80%;
	color: white;
	text-align: center;

	float: right;
}
#title-container{
	height: 67px;
	background: #34495e;
	background-color: rgba(52,73,94, 0.5);
	margin-top: 20px;
}

#bilbord{
	background-image: url("../images/iran-flag.png");
	background-repeat: no-repeat;
	background-position: center;
	background-clip: content-box;
	background-attachment: fixed;
	background-color: black;

	bolder-radius: 5px !important;
}

#agahi-image-bilbord{
	margin-top: -30px;
	float: left;
}

#bilbord-details{
	margin-top: 120px;
	width: 100%;
	text-align: center;
	font-size: 24px;
	color: white;
	text-shadow: 2px 2px 5px #24659c;
	font-family: IRANSans;

	background-color: rgba(52,73,94, 0.5);
}
#bilbord-details div{
	display: inline-block;
	margin-left: 50px;
	border-radius: 100%;
	margin-right: 10px;
}
#bilbord-details div > span{
	font-weight: bold;
	font-size: 20px;
	text-shadow: 2px 2px 3px back;
}


@media (max-width: 620px){
	#agahi-image-bilbord{
		clear: both;
		display: block;

		width: 100%;
		margin-top: 0px;
		text-align: center;
	}

	#title{
		clear: both;
		display: block;
		width: 100%;
	}

	#bilbord-details {
		margin-top: 160px;
	}
}

@media (max-width: 510px){
	#title{
		font-size: 35px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

@media (max-width: 360px){
	#title{
		font-size: 25px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.agahi-img-container {
		margin-left: 5px;
	}
}

@media (max-width: 544px){
	#logo{
		display: none;
	}
}

@media (max-width: 231px){
	.agahi-img-container{
		clear: both;
		width: 100%;
		text-align: center;
	}

	.agahi-img-container ul{
		margin-top: 17px;
		margin-right: 80px;
	}

	#horizontal-menu-container{
		clear: both;
		width: 100%;
		text-align: center;
		padding-right: 0px;
	}

	#title {
		font-size: 15px;
	}

	#bilbord-details {
		text-align: right;
	}
}